<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aku.hassannaqvi.src_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.form9.F9SectionBActivity"></activity>
        <activity android:name=".ui.form9.F9SectionAActivity" />
        <activity android:name=".ui.form7.F7SectionAActivity" />
        <activity android:name=".ui.form8.F8SectionAActivity" />
        <activity android:name=".ui.form2.F2SectionBActivity" />
        <activity android:name=".ui.form2.F2SectionAActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>